@import "print.less";

#experiences {
	
	.experience {
		.logo {
			width: 20%;
			float: right; 
			padding: 10px;
		}
	}

}

body {
	footer {
		text-align: center;
	}
}

#mail {
	.ui-icon {
		background: url(../img/mail.png) 50% 50% no-repeat;
		background-size: 50px 50px;
	}
}