<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "fr.bargenson"
        version   = "1.1.0">

    <name>bargenson</name>

    <description>
        
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        Brice Argenson
    </author>

    <preference name="android-minSdkVersion" value="7" />
    <preference name="permissions" value="none"/>

    <icon src="icons/tux-link.png" />

</widget>