#experiences .logo {
	text-align: center;
	width: 50%;
	margin: auto;
}

#experiences .logo img {
	padding: 10px;
	width: inherit;
}



body footer {
	text-align: center;
}

.certification {
	text-align: center;
	width: 100%;
	border-bottom: 1px solid black;
	padding-top: 10px;
	font-weight:bold;
	font-style:italic;
}